.estatisticas-intro {
  @include container;
  margin-top: $s8;
  margin-bottom: $s6;
  h1 {
    @include title-1;
    color: $c1;
    text-align: center;
  }
}

.estatisticas-opcoes {
  @include container;
  margin-bottom: $s8;
  ul {
    justify-content: center;
    display: flex;
    gap: $s4;
  }
  li {
    @include button;
  }
}

.estatisticas-contagem {
  @include container;
  margin-bottom: $s8;
  text-align: center;
  h2 {
    margin-bottom: $s6;
    @include title-2;
  }
  p {
    @include text-1;
    color: $c3;
    span {
      color: $c2;
      display: block;
      font-size: px-rem(60px);
    }
  }
}

.estatisticas-paginas {
  @include container;
  margin-bottom: $s8;
  h2 {
    @include title-2;
    text-align: center;
    margin-bottom: $s6;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: $s4;
  }
  li {
    @include box-shadow;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p:nth-of-type(1) {
      @include text-1;
    }
    p:nth-of-type(2) {
      @include text-2;
      color: $c3;
    }
  }
}

.estatisticas-links-externos {
  @include container;
  margin-bottom: $s10;
  h2 {
    @include title-2;
    text-align: center;
    margin-bottom: $s6;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: $s4;
  }
  li {
    @include box-shadow;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p:nth-of-type(1) {
      @include text-1;
    }
    p:nth-of-type(2) {
      @include text-2;
      color: $c3;
    }
  }
}
