.header {
  @include container;
  padding-top: $s2;
  padding-bottom: $s2;
  img {
    @include align-div;
    max-width: 64px;
    @include screen(notebook-m) {
      max-width: 60px;
    }
    @include screen(tablet) {
      max-width: 52px;
    }
  }
}
