@mixin title-1 {
  font-family: "Urbanist";
  font-size: px-rem(38px);
  font-weight: 500;
}

@mixin title-2 {
  font-family: "Urbanist";
  font-size: px-rem(28px);
  font-weight: 500;
}

@mixin text-1 {
  font-family: "Urbanist";
  font-size: px-rem(20px);
  font-weight: 400;
}

@mixin text-2 {
  font-family: "Urbanist";
  font-size: px-rem(17.5px);
  font-weight: 400;
}
