#login {
  min-height: 100svh;
  position: relative;
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.login-conteudo {
  position: relative;
  top: calc(50svh - 110px);
  transform: translateY(-50%);
  @include resp-height(750px) {
    position: static;
    transform: none;
  }
}

.login-conteudo {
  @include container;
  margin-top: $s8;
  // margin-bottom: $s8;
  padding-bottom: $s9 + px-rem(51px);
  h1 {
    @include title-1;
    color: $c1;
    text-align: center;
    padding-bottom: $s5;
  }
  button {
    display: block;
    @include align-div;
    @include button-2;
  }
  .login-conteudo-inputs {
    margin-bottom: $s5;
    background-color: $w1;
    box-shadow: 0 6px 8px rgba(118, 139, 171, 0.1);
    @include border;
    max-width: 280px;
    @include align-div;
    padding: $s6;
    label {
      display: block;
      @include text-1;
      margin-left: $s4;
      margin-bottom: $s2;
      font-weight: 500;
    }
    input {
      font-size: px-rem(14px);
      border: 2px solid $w3;
      border-radius: 50px;
      padding: $s1 + px-rem(2px) $s4;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      &:focus {
        border: 2px solid $c2;
      }
    }
    div:nth-of-type(1) {
      margin-bottom: $s5;
    }
  }
}
